@charset "utf-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 150px;
	margin-bottom: 50px;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 150px;
	background: #fff;
	color: #fff;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: rgb(0, 128, 192);
	color: #fff;
}

/* グローバルナビゲーション */
.global-navi {
	width: 100%;
	background-color: rgb(0, 128, 192);
}

.global-navi li {
	display: inline-block;
	width: 100px;
}

.global-navi li a {
	text-decoration: none;
	color: #fff;
}

/* 検索条件 */
#search-condition {
	list-style: none;
}

#search-condition li {
	margin: 1em;
}

#search-condition label {
	display: inline-block;
	padding-bottom: 10px;
	width: 100px;
}

/* 検索結果 */
.search-result ul {
	list-style: none;
}

/* 本棚の内容 */
.bookshelf-contents ul {
	list-style: none;
}

/* ページネーション */
.pagination ul {
	display: block;
	margin: auto;
	list-style: none;
}

.pagination li {
	display: inline-block;
	margin: 5px;
	width: fit-content;
	height: 25px;
}

.pagination li a {
	padding: 5px;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

.pagination li a[id="current-page"] {
	background-color: rgb(0, 128, 192);
	color: #fff;
}

.page-navi {
	display: flex;
	/* 件数表示とページネーションを横並びにする */
}