@charset "utf-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	position: relative;
	/* headerの高さ分の領域を確保 */
	padding-top: 120px;
}

/* headerここから */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 120px;
	background-color: #fff;
	z-index: 10;
}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
	padding: 10px 20px;
}

.header-main a {
	height: 100%;
}

.header-main img {
	height: 100%;
}

.header-main form {
	display: flex;
}

#keyword {
	padding: 5px;
}

#total-search-button {
	width: 25px;
	margin-left: 10px;
	border: none;
	background-color: #fff;
	background-image: url(../img/search-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.global-navi {
	display: flex;
	justify-content: flex-start;
	height: 35px;
	padding-left: 20px;
	background-color: #4682b4;
}

.global-navi li {
	margin-right: 30px;
	padding: 5px;
}

.global-navi li a {
	color: #fff;
}

/* mainここから */
main {
	/* viewportからheaderとfooterを除いた分の高さを確保 */
	min-height: calc(100vh - (120px + 65px));
	margin-right: 20px;
	margin-left: 20px;
	/* header-content-naviの高さ分の領域を確保 */
	padding-top: 75px;
}

.header-content-navi {
	position: fixed;
	/* headerの高さ分下がる */
	top: 120px;
	width: 100%;
	height: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
}

.footer-content-navi {
	width: 100%;
	height: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.page-navi {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.pagination ul {
	display: flex;
	margin-left: 25px;
}

.pagination li {
	margin-right: 3px;
	margin-left: 3px;
}

.pagination li a {
	display: block;
	padding-right: 5px;
	padding-left: 5px;
	color: #000;
}

.pagination li a[id="current-page"] {
	color: #fff;
	background-color: #4682b4;
}

.detail-search {
	width: 100%;
	max-width: 750px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 50px;
	border: solid 1px #a9a9a9;
	background-color: #dcdcdc;
}

#search-condition li {
	margin-bottom: 20px;
}

#search-condition label {
	display: inline-block;
	width: 20%;
	margin-right: 15px;
}

#search-condition input {
	display: inline-block;
	width: 75%;
	padding: 5px;
}

/* footerここから */
footer {
	width: 100%;
	height: 65px;
	color: #fff;
	background: #4682b4;
}